[Unit]
Description=VNC Server (serviced mode) for :1
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/vncserver %i -geometry 1366x768 -depth 24
ExecStop=/usr/bin/vncserver -kill %i

[Install]
WantedBy=default.target
