[Desktop Entry]
Name=NetworkManager
Comment=Manage network connections
Exec=nm-connection-editor
Icon=network-manager
Terminal=false
Type=Application
Categories=Network;
